body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active{
  color: #30aabc !important;
}
.active::after{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0px;
  height: 0px;
  border-style: none solid solid;
  border-width: 0px 8px 10px;
  border-color: #000 transparent  #30aabc;
  background-color: transparent;
}

.tabActive{
  background: #f5f5f5;
}
.messege{
  background: #84c9eb2b;
}